{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Fashion-world|Forgot-Password3 </title>
    {% endblock %}
    {% block body %}
    <div class=" form container fluid w-100">
        <div class=" login w-50 m-auto" >
            <h5 class="text-center  p-2"><span class="text-success">Reset</span> Password</h5>
            {% for m in messages %}
            <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
               {{m}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
               </button>
             </div>
            {% endfor %}
            <form action="/forgot-password3/" method="post" class="form">
                {% csrf_token %}
                <div class=" input mb-3">
                    <label>Password</label><span class="material-symbols-outlined">
                        lock
                        </span>
                    <input type="password" name="password" placeholder=" Enter New Password" class="form-control">
                </div>
                <div class=" input mb-3">
                    <label>Confirm Password</label><span class="material-symbols-outlined">
                        lock
                        </span>
                    <input type="password" name="cpassword" placeholder=" Enter Confirm Password" class="form-control">
                </div>
                
                <div class="mb-3">
                    <button class="btn-primary w-100">Reset Password</button>
                </div>
                
             </form>
        
        
        
        </div>
    </div>
    {% endblock %}