{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Fashion-world|Signup  </title>
    {% endblock %}
    {% block body %}
    <div class=" form container fluid w-100">
        <div class=" login w-75 m-auto" >
            <h5 class="text-center  p-2"><span class="text-success">Create A Free Account</h5>
             {% for m in messages %}
             <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                {{m}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
             {% endfor %}
                <form action="/signup/" method="post" class="form">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class=" sign col-md-6">
                        <label>Name</label><span class="material-symbols-outlined">
                            person
                            </span>
                        <input type="text" name="name" placeholder=" Full Name" class="form-control">
                    </div>
                    <div class=" sign col-md-6">
                        <label>Username</label><span class="material-symbols-outlined">
                            person
                            </span>
                        <input type="text" name="username" placeholder="Username" class="form-control">
                    </div>
                    
                </div>
                <div class="row mb-3">
                    <div class=" sign col-md-6">
                        <label>Email</label><span class="material-symbols-outlined">
                            email
                            </span>
                        <input type="email" name="email" placeholder="email" class="form-control">
                    </div>
                    
                    <div class=" sign col-md-6">
                        <label>Phone</label><span class="material-symbols-outlined">
                            phone
                            </span>
                        <input type="text"  name="phone"placeholder="Phone no" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="sign col-md-6">
                        <label>Password</label><span class="material-symbols-outlined">
                            lock
                            </span>
                        <input type="password"  name="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="  sign input col-md-6">
                        <label>Password</label><span class="material-symbols-outlined">
                            lock
                            </span>
                        <input type="password"  name="cpassword" placeholder=" confirm Password" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <button class=" btn-primary w-100">Submit</button>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                    <a class="text-success" href="/login/">Alreay User?Login to your account</a>
                </div>
             </form>
        
        
        
        </div>
    </div>
    {% endblock %}